USE [DarkCore]
GO
/****** Object:  Table [dbo].[AdminCoordinates]    Script Date: 16/12/2021 19:26:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminCoordinates](
	[DictKey] [nvarchar](max) NULL,
	[DictValue] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AdminCoordinates] ([DictKey], [DictValue]) VALUES (N'A1', N'8679      ')
INSERT [dbo].[AdminCoordinates] ([DictKey], [DictValue]) VALUES (N'A2', N'7632      ')
INSERT [dbo].[AdminCoordinates] ([DictKey], [DictValue]) VALUES (N'A3', N'0225      ')
GO
