<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MESSI_M20.Properties.Settings.DARKCOREConnectionString"
            connectionString="Data Source=OKAMI\SQLEXPRESS;Initial Catalog=DARKCORE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TrustedUser" value="xxxxxxx"/>
	</appSettings>
</configuration>